       <form action="/search" method="post" class="searchmobform">
          <div class="input-field searchinputmob">
            <input id="search" type="search" name="search" required>
            <label class="label-icon" for="search"><i class="material-icons iconmob">search</i></label>
          </div>
        </form>