html, body {
  overflow-x: hidden !important;
  max-width: 100% !important
}

body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #13171b;
  font-family: "Oswald", sans-serif;
}

i.medium.material-icons {
  font-size: 4rem;
}

/*<----------------Navbar CSS Start----------------->*/
nav {
  background-color: #ee6e7300 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 20px;
}

nav ul a {
  font-size: 1.5rem;
  display: flex;
}

nav ul a.btn {
  font-size: 1.5rem;
}

nav i.material-icons {
  display: inline-block;
  padding-right: 7px;
}

nav .brand-logo {
  font-size: 2.5rem;
}

.nav-wrapper .input-field input[type="search"],
nav form {
  display: inline-flex;
}

nav .btn {
  border-radius: 20px;
  background-color: #1fb01f00;
  box-shadow: none;
}

nav .btn:hover {
  background-color: #1fb01f;
  border: none;
}

input#search {
  padding: 0.5rem;
  background-color: #ffffff33;
  border-radius: 30px;
  text-indent: 35px;
  color: white;
  transition: border 0.4s ease-in;
}

input#search:hover,
input#search:active {
  border: 1px solid white;
}

@media (min-width: 961px) {
  nav .brand-logo.center {
    font-size: 4rem;
  }
  .homegame .card-image img {
    height: 330.9px;
  }

  .tabs .tab a {
    font-size: 2em;
  }
}

@media (max-width: 418px) {
  .expl .card-image img {
    height: 122px !important;
  }

  .srchimg .card-image img {
    height: 165px !important;
  }
}

#googlesignin, #facebooksignin {
  -webkit-appearance: none
}
/*<----------------Navbar CSS End----------------->*/

/*<----------------Header CSS Start----------------->*/
.header {
  background-image: url("https://wallpapercave.com/wp/wp2548263.jpg");
  height: 675px;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  height: 650px;
  width: 100%;
  top: 0;
  z-index: -1;
  background-attachment: fixed;
}

.headeroverlay::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 775px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.98556487) 0.97%,
      rgba(20, 24, 29, 0.9451312) 2.07833333%,
      rgba(20, 24, 29, 0.88300656) 3.29666667%,
      rgba(20, 24, 29, 0.80349854) 4.60166667%,
      rgba(20, 24, 29, 0.71091472) 5.96666667%,
      rgba(20, 24, 29, 0.60956268) 7.365%,
      rgba(20, 24, 29, 0.50375) 8.77166667%,
      rgba(20, 24, 29, 0.39778426) 10.16%,
      rgba(20, 24, 29, 0.29597303) 11.505%,
      rgba(20, 24, 29, 0.20262391) 12.78%,
      rgba(20, 24, 29, 0.12204446) 13.95833333%,
      rgba(20, 24, 29, 0.05854227) 15.01666667%,
      rgba(20, 24, 29, 0.01642493) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.01642493) 84.07166667%,
      rgba(20, 24, 29, 0.05854227) 84.98333333%,
      rgba(20, 24, 29, 0.12204446) 86.04166667%,
      rgba(20, 24, 29, 0.20262391) 87.22%,
      rgba(20, 24, 29, 0.29597303) 88.495%,
      rgba(20, 24, 29, 0.39778426) 89.84%,
      rgba(20, 24, 29, 0.50375) 91.22833333%,
      rgba(20, 24, 29, 0.60956268) 92.635%,
      rgba(20, 24, 29, 0.71091472) 94.03333333%,
      rgba(20, 24, 29, 0.80349854) 95.39833333%,
      rgba(20, 24, 29, 0.88300656) 96.70333333%,
      rgba(20, 24, 29, 0.9451312) 97.92166667%,
      rgba(20, 24, 29, 0.98556487) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148148%,
      rgba(20, 24, 29, 0.98556487) 23.63703704%,
      rgba(20, 24, 29, 0.9451312) 26.1%,
      rgba(20, 24, 29, 0.88300656) 28.80740741%,
      rgba(20, 24, 29, 0.80349854) 31.70740741%,
      rgba(20, 24, 29, 0.71091472) 34.74074074%,
      rgba(20, 24, 29, 0.60956268) 37.84814815%,
      rgba(20, 24, 29, 0.50375) 40.97407407%,
      rgba(20, 24, 29, 0.39778426) 44.05925926%,
      rgba(20, 24, 29, 0.29597303) 47.04814815%,
      rgba(20, 24, 29, 0.20262391) 49.88148148%,
      rgba(20, 24, 29, 0.12204446) 52.5%,
      rgba(20, 24, 29, 0.05854227) 54.85185185%,
      rgba(20, 24, 29, 0.01642493) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
}

.content {
  padding-top: 400px;
  text-align: center;
  color: white;
}

/*<----------------Header CSS End----------------->*/

/*<----------------Card CSS Start----------------->*/

.cardshold {
  margin: 50px 0px;
}

.homegame .card-image img {
  border-radius: 5px;
}

.homegame {
  border-radius: 5px;
  background-color: #fff0;
}

.card-panel {
  background-color: #445567;
  font-size: 20px;
  height: 244.65px;
}

.panel1:hover {
  background-color: #00c030;
}

.panel2:hover {
  background-color: #ee7000;
}

.panel3:hover {
  background-color: #209cd4;
}

.homepanel {
  padding-bottom: 50px;
}

/*<----------------Card CSS End----------------->*/

/*<----------------Footer CSS Start----------------->*/

.page-footer {
  background-color: #2b343f;
}

/*<----------------Footer CSS End----------------->*/

/*<----------------Modal CSS Start----------------->*/

.modal {
  max-height: 100%;
  overflow: hidden;
  padding: 40px;
  border-radius: 10px;
}

input[type="submit"] {
  width: 200px;
  margin-top: 10px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.lisub {
  background-color: #1fb01f;
}

.loginbtn {
  width: 200px;
  margin: 5px 0px;
}
/*<----------------Modal CSS End----------------->*/

/*<----------------Explore CSS Start----------------->*/

.titletext {
  text-align: center;
  color: white;
  padding: 50px 0px;
}

.pagehead {
  text-align: center;
  color: white;
  padding: 50px 0px;
  background-image: url(https://stmed.net/sites/default/files/the-legend-of-zelda%3A-breath-of-the-wild-hd-wallpapers-33783-8252657.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
  padding-top: 180px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  z-index: -1;
  background-attachment: fixed;
}

.explorecont {
  padding-top: 600px;
}

/*Image Overlay CSS*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #12161aa6;
}

.card-image:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.actbtn {
  right: 50% !important;
}

.dobtn {
  width: 130px;
  border-radius: 5%;
  left: -35px
}


/*----------*/

/*<----------------Explore CSS End----------------->*/

.pagehead::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 150%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 775px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.985565) 0.97%,
      rgba(20, 24, 29, 0.945131) 2.07833%,
      rgba(20, 24, 29, 0.883007) 3.29667%,
      rgba(20, 24, 29, 0.803499) 4.60167%,
      rgba(20, 24, 29, 0.710915) 5.96667%,
      rgba(20, 24, 29, 0.609563) 7.365%,
      rgba(20, 24, 29, 0.50375) 8.77167%,
      rgba(20, 24, 29, 0.397784) 10.16%,
      rgba(20, 24, 29, 0.295973) 11.505%,
      rgba(20, 24, 29, 0.202624) 12.78%,
      rgba(20, 24, 29, 0.122044) 13.95833%,
      rgba(20, 24, 29, 0.0585423) 15.01667%,
      rgba(20, 24, 29, 0.0164249) 15.92833%,
      rgba(20, 24, 29, 0) 16.66667%,
      rgba(20, 24, 29, 0) 83.33333%,
      rgba(20, 24, 29, 0.0164249) 84.07167%,
      rgba(20, 24, 29, 0.0585423) 84.98333%,
      rgba(20, 24, 29, 0.122044) 86.04167%,
      rgba(20, 24, 29, 0.202624) 87.22%,
      rgba(20, 24, 29, 0.295973) 88.495%,
      rgba(20, 24, 29, 0.397784) 89.84%,
      rgba(20, 24, 29, 0.50375) 91.22833%,
      rgba(20, 24, 29, 0.609563) 92.635%,
      rgba(20, 24, 29, 0.710915) 94.03333%,
      rgba(20, 24, 29, 0.803499) 95.39833%,
      rgba(20, 24, 29, 0.883007) 96.70333%,
      rgba(20, 24, 29, 0.945131) 97.92167%,
      rgba(20, 24, 29, 0.985565) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148%,
      rgba(20, 24, 29, 0.985565) 23.63704%,
      rgba(20, 24, 29, 0.945131) 26.1%,
      rgba(20, 24, 29, 0.883007) 28.80741%,
      rgba(20, 24, 29, 0.803499) 31.70741%,
      rgba(20, 24, 29, 0.710915) 34.74074%,
      rgba(20, 24, 29, 0.609563) 37.84815%,
      rgba(20, 24, 29, 0.50375) 40.97407%,
      rgba(20, 24, 29, 0.397784) 44.05926%,
      rgba(20, 24, 29, 0.295973) 47.04815%,
      rgba(20, 24, 29, 0.202624) 49.88148%,
      rgba(20, 24, 29, 0.122044) 52.5%,
      rgba(20, 24, 29, 0.0585423) 54.85185%,
      rgba(20, 24, 29, 0.0164249) 56.87778%,
      rgba(20, 24, 29, 0) 58.51852%
    );
}

/*<----------------Game Page----------------->*/
.gameimg {
  width: 250px;
  border-radius: 20px;
  height: auto;
}

.gamecov {
  text-align: center;
  padding-top: 250px;
}

.desctext {
  color: white;
  padding: 30px 0px;
}

.platformmark {
  text-align: center;
  margin: 30px 0px;
}

.platbut {
  background-color: transparent;
  border: 1px solid #1fb01f;
  border-radius: 20px;
  margin: 10px;
}

.gamescreenhold {
  text-align: center;
}

.simgameshold {
  text-align: center;
}

.gametitle {
  text-align: center;
  color: white;
}

/*<----------------Game Page----------------->*/

/*<----------------Dashboard Page----------------->*/

#dashTabs {
  //width: 60%;
  text-align: center;
  //margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #303c48;
}

.tabs .tab a {
  color: #99aabb;
}

.dashHeader {
  text-align: center;
  color: white;
  padding: 50px 0px;
}

.profiledash {
  width: 200px;
}

.favcol {
  min-height: 400px;
}

.dashcontent {
  margin-top: 300px
}

.editbtn {
  height: 50px;
}

@media (min-width: 961px) {
.editbtn {
  position: relative;
  bottom: 20px;
}
}

.minusbtn {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

//Mobile Nav
.logbut {
  color: rgba(0,0,0,0.87);
}

.logform {
  text-align: center;
}